@font-face {
    font-family: '20-CENTS-MARKER-Bold';
    src:url('20-CENTS-MARKER-Bold.ttf.woff') format('woff'),
        url('20-CENTS-MARKER-Bold.ttf.svg#20-CENTS-MARKER-Bold') format('svg'),
        url('20-CENTS-MARKER-Bold.ttf.eot'),
        url('20-CENTS-MARKER-Bold.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
