<section class="navigation-secondary__wrapper">
  <div class="navigation-secondary wrapper pure-u-lg-18-24">
    <div class="navigation-secondary__item">
      <a class="navigation-secondary__link navigation-secondary__link--light" href="{{ base_url_absolute }}/warum-diese-initiative-bindung-ist-bunt">Warum diese Initiative?</a>
    </div>
    <div class="navigation-secondary__item">
      <a class="navigation-secondary__link" href="{{ base_url_absolute }}/mitmachen">Mitmachen</a>
    </div>
        <div class="navigation-secondary__item">
      <a class="navigation-secondary__link" href="https://die-besten-stoffwindeln.de/spenden/button-bindung-ist-bunt" target="_blank" data-track='{"category": "sec-nav-link", "action": "stoffwindeln", "name": "stoffwindeln"  }'>Buttons kaufen</a>
    </div>
    <div class="navigation-secondary__item">
      <a class="navigation-secondary__link navigation-secondary__link--light" href="{{ base_url_absolute }}/presse">Presseanfrage</a>
    </div>
  </div>
</section>
