{% extends 'partials/bindungistbunt.base.twig' %}

{% block content %}
  <section class="pure-g wrapper wrapper--color-1">
    <div class="pure-u-1 pure-u-md-20-24 pure-u-lg-12-24">
      {{ page.content }}
    </div>
  </section>
{% endblock %}
