<header class="header">
  <div class="wrapper padding header-content">

    {% block header_navigation %}
    {% include 'partials/molecules/navigation/navigation.html.twig' %}
    {% endblock %}
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-20-24 pure-u-lg-12-24 header__container">
        <a class="header__logo" href="{{ base_url == '' ? '/' : base_url }}">
          <img src="{{ url('theme://images/bindungistbunt-logo-header-big.PNG') }}" alt="Binung ist bunt - Eine Initiative von Nicola Schmidt und Nora Imlau" />
        </a>
      </div>
    </div>


  </div>
</header>