@font-face {
    font-family: 'Aguizard-Tryout';
    src:url('Aguizard-Tryout.ttf.woff') format('woff'),
        url('Aguizard-Tryout.ttf.svg#Aguizard-Tryout') format('svg'),
        url('Aguizard-Tryout.ttf.eot'),
        url('Aguizard-Tryout.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
