{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/bindung-ist-bunt-herz.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/bindungistbunt.css', 98) %}
        {% do assets.addCss('theme://css/bindungistbunt.vendor.min.css', 97) %}
        {% do assets.addCss('theme://fonts/nymphshandwriting/nymphs.css', 98) %}

    {% endblock %}
    {{ assets.css() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">
  {% block header %}
  {% include 'partials/molecules/header/header.html.twig' %}

  {% endblock %}

  {% block body %}
      <section id="body">
          <div class="padding">
          {% block content %}{% endblock %}
          </div>
      </section>
  {% endblock %}

  {% include 'partials/molecules/footer/footer.html.twig' %}
  {% block javascripts %}
      {% do assets.addJs('jquery', 100) %}
      {% do assets.addJs('theme://js/bindungistbunt.js') %}
  {% endblock %}
  {{ assets.js() }}
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDoNotTrack", true]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://stats.agilevolunteer.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '8']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.onload = function() {
          var event = new Event('tracker::loaded');
          var body = document.getElementsByTagName('body')[0];
          body.dispatchEvent(event);
        };
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://stats.agilevolunteer.com/piwik.php?idsite=8&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
    <!-- Facebook Code -->
    <div id="fb-root"></div>
    <script>

    </script>
    <!-- Ende Facebook Code -->
</body>
