<footer class="footer">
  <!-- a href="#">Buttons bestellen</a -->
  <a href="https://www.nora-imlau.de/" title="Nora Imlau von Bindung ist bunt" target="_blank">Nora Imlau</a>
  <a href="http://nicolaschmidt.de/" title="Nicola Schmidt von Bindung ist bunt" target="_blank">Nicola Schmidt</a>
  <a href="https://die-besten-stoffwindeln.de/spenden/button-bindung-ist-bunt" target="_blank" title="Spendenaktion: Bindung ist bunt Buttons" data-track='{"category": "footer-link", "action": "stoffwindeln", "name": "stoffwindeln"  }'> Spendenaktion Buttons</a>
  <a href="{{ base_url_absolute }}/download" title="Downloads"> Downloads</a>
  <a href="{{ base_url_absolute }}/impressum" title="Impressum">Impressum</a>
  <a href="{{ base_url_absolute }}/datenschutz" title="Datenschutz">Datenschutz</a>
</footer>
