@font-face {
    font-family: 'Nymphs-Handwriting';
    src:url('Nymphs-Handwriting.ttf.woff') format('woff'),
        url('Nymphs-Handwriting.ttf.svg#Nymphs-Handwriting') format('svg'),
        url('Nymphs-Handwriting.ttf.eot'),
        url('Nymphs-Handwriting.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
