@font-face {
    font-family: 'Anmari';
    src:url('Anmari.ttf.woff') format('woff'),
        url('Anmari.ttf.svg#Anmari') format('svg'),
        url('Anmari.ttf.eot'),
        url('Anmari.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
