<article class="buch">
  <h4 class="buch__title">{{page.title}} {{ page.loop.index}}</h4>
  {% if page.header.media_order != ""%}
    {% set first_image = page.media.images|first %}
    <div class="buch__cover">
      <img src="{{ first_image.url }}" class="buch__image" alt="{{page.title}} - Bindung ist bunt">
    </div>
  {% else %}
    <div class="buch__cover">
      <img src="{{ page.header.image }}" class="buch__image" alt="{{page.title}} - Bindung ist bunt">
    </div>
  {% endif %}

  <div class="buch__description">
    {{page.content}}
  </div>
  <div class="buch__action-container">
    <a class="buch__action" href="{{ page.header.buch7 }}?partner=dadvelopment" target="_blank" data-track='{"category": "buch-link", "action": "{{page.title}}", "name": "buch7"}'> Bei Buch7 bestellen </a>
    <a class="buch__action" href="{{ page.header.amazon }}" target="_blank" data-track='{"category": "buch-link", "action": "{{page.title}}", "name": "amazon"}'> Bei Amazon bestellen </a>
  </div>
</article>
