{% set collection = page.collection() %}

{% block body_content %}
  <section class="pure-g wrapper wrapper--color-alt3">
   <div class="pure-u-1 pure-u-md-20-24 pure-u-lg-12-24">
    {% include 'partials/atoms/headline/headline.html.twig' with { 'text': page.title, 'element': 'h2' } %}

    {% if collection|length %}
        <div class="companies">
            {% for item in collection %}
              {{ item.content }}
            {% endfor %}

        </div>
    {% endif %}
    </div>
  </section>
{% endblock %}
