{% block content %}
<section class="pure-g wrapper wrapper--color-1">
  <div class="pure-u-1 pure-u-md-20-24 pure-u-lg-12-24">
    {% if page.header.titleelement %}
      {% include 'partials/atoms/headline/headline.html.twig' with { 'text': page.title, 'element': page.header.titleelement } %}

    {% else %}
      {% include 'partials/atoms/headline/headline.html.twig' with { 'text': page.title, 'element': 'h2' } %}

    {% endif %}
    {{page.content}}
  </div>
</section>
{% endblock %}
