@font-face {
    font-family: '123Bambou';
    src:url('123Bambou.ttf.woff') format('woff'),
        url('123Bambou.ttf.svg#123Bambou') format('svg'),
        url('123Bambou.ttf.eot'),
        url('123Bambou.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
